//
//	Browserslist demo styles
//	--------------------------------------------

@import "reset";

// Local vars
$styles-red: #C33764;
$styles-blue: #1D2671;

// Animations
@keyframes fadeIn {
	from {
		border-top-color: rgba($styles-red, 0%);
	}

	to {
		border-top-color: rgba($styles-red, 100%);
	}
}

.container {
	max-width: 600px;
	margin: 5vh auto 10vh;
	padding: 0 1rem;
}

body {
	border-top: 5px solid rgba($styles-red, 0%);
	animation: fadeIn 250ms ease-in-out 250ms forwards;
}

h1,
h2 {
	font-family: sans-serif;
  display: inline-block;

  // needs -ms- prefix for IE 10
  touch-action: auto;
}

h1 {
	font-size: 3rem;
	margin: 8px 0 13px;
	line-height: 1.1;
	font-weight: bold;
	letter-spacing: -0.04em;

	// gradient (w/ progressive syntax)
	background: linear-gradient(to right, $styles-blue, $styles-red);
	
	// webkit features only
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
	margin: 0 0 25px;
	line-height: 1.2;
	font-size: 1.3rem;
	color: mix($styles-blue, #fff, 60%);
}

p {
	font-size: 1.2rem;
	line-height: 1.35;
	margin: 0 0 20px;
	color: mix($styles-blue, #555, 60%);

	@media screen and (min-width: 767px) {
		font-size: 1.3rem;
	}
}

a {
	color: $styles-red;
	text-decoration: none;

	&:hover {
		color: darken($styles-red, 10%);
		text-decoration: underline;
	}
}